h1 {
    font-family: 'Kaushan Script', cursive;
    margin: 30px;
    /* padding-top: 30px; */
    font-size: 40px;
    border-bottom: 5px solid pink;
    border-right: 5px solid pink;
    border-left: 5px solid pink;
    border-top: 5px solid pink;
    border-radius: 15px;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 4px 20px 20px #888888;
    -moz-box-shadow: 4px 20px 20px #888888;
    -ms-box-shadow: 4px 20px 20px #888888;
    -webkit-box-shadow: 4px 20px 20px #888888;
    -o-box-shadow: 4px 20px 20px #888888;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 30px;
}

img {
    width: 300px;
    height: 200px;
    border-bottom: 5px solid red;
    border-right: 5px solid red;
    border-left: 5px solid red;
    border-top: 5px solid red;
    border-radius: 10px;
    padding: 5px;
    margin: 2px 2px 2px 2px;
    transition: all 1s;
}

img:hover {
    transform: matrix3d(50s);
    transform: scale(1.1);
    border-color: blue;
    border-width: 10px;
    box-shadow: 4px 20px 20px #888888;
}